#Default Test Extractor
default:0
#Panchenko Features
byte_ceil:600
total_pkt_up:1
total_pkt_down:1
percent_up:1
percent_down:1
total_byte_down:1
total_byte_up:1
unique_up:1
unique_down:1
html_markers:1
max_html_markers:20
size_markers:1
max_size_markers:20
num_markers:1
max_num_markers:20
size_histogram:1
size_histogram_bucket_size:600
max_size_histogram_bucket:20
#VNG++ Features (VNG++ has a lot of overlap with Panchenko)
total_time:0
#Meta-PCA Features
raw_meta_info:0
max_raw_meta_info:20
component_vectors:0
max_component_vectors:3
two_d_space:0
max_two_d_space:20
one_d_space:0
max_one_d_space:20
